/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Center the login form */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Style the login form */
.login-form {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 50px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.checkbox-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.checkbox-group {
    /* grid-template-rows: 50px auto 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"] {
    margin: 40px 0px 40px 40px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.329);
}
